*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

h1,p,a{
    font-family: 'Outfit', sans-serif;
}

.main{
    max-width: 320px;
}

.card_cover{
    background-color: hsl(0, 0%, 100%);
    width: 65%;
    text-align: center;
    border-radius: 15px;
    padding:20px 20px 30px 20px;
}

.card_img{
    width: 100%;
    border-radius: 10px;
}

.card_heading{
    width: 100%;
    color: hsl(218, 44%, 22%);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin: 15px auto;
}

.card_para{
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.4px;
    padding: 0 10px;
    margin: 15px auto;
}

.attribution{
    width: 100%;
    margin-top: 25px;
}

.attribution p{
    font-size: 16px;
}

/* moble */
@media only screen and (max-width: 540px) {

    .card_cover{
        width: 100%;
    }

    .card_para{
        padding: 0 20px;
    }
  }



/* large screens */

@media only screen and (min-width: 768px) {

    /* .main{
        min-width: 450px;
    } */

    .card_cover{
        width: 100%;
    }

}


@media only screen and (min-width: 1024px) {
    
        /* .main{
            width: 25%;
            top: 50%;
        } */

        .card_para{
            padding: 0 15px;
        }
  }